window .container {
  background: var(--window-bg-color);
}

flowboxchild:hover,
flowboxchild:focus,
flowboxchild:focus-visible,
listboxchild:hover,
listboxchild:focus,
listboxchild:focus-visible {
  background: none;
}

.navigation-tab-button {
  $padding-block: 7px;

  margin: 0 6px;

  padding: {
    top: $padding-block;
    bottom: $padding-block;
  };
}

.omniplayer .album-art {
  border-radius: 16px;
}

.omniplayer .controls button {
  margin: 12px 0;
}

card {
  padding: 12px;
  border-radius: 20px;
  min-width: 110px;
  background: var(--card-bg-color);
}

smallcard {
  padding: 10px;
  border-radius: 12px;
  min-height: 18px;
  background: var(--card-bg-color);

  & image.art {
    margin-right: 6px;
  }

  & .buttons {
    margin-left: 6px;
  }
}

page {
  padding: 16px;
  padding-bottom: 0;
}

page .page-search {
  & .search-entry {
    $height: 48px;

    min-height: $height;
    border-radius: calc($height / 2);
    margin-bottom: 6px;
    padding: {
      left: calc($height / 3);
      right: calc($height / 3);
    };
  }

  & .results {
    padding: 10px 0;
  }
}

section {
  margin-bottom: 16px;

  & .description {
    margin-bottom: 6px;
  }
}
