
.navigation-tab-button {
  $padding-block: 7px;

  margin: 0 6px;

  padding: {
    top: $padding-block;
    bottom: $padding-block;
  };
}

window .container {
  background: #{"@theme_bg_color"};
}

.omniplayer .album-art {
  border-radius: 16px;
}

.omniplayer .controls button {
  margin: 12px 0;
}
