window .container {
  background: var(--window-bg-color);
}

flowboxchild:hover,
flowboxchild:focus,
flowboxchild:focus-visible,
list > row:hover,
list > row:focus,
list > row:focus-visible {
  background: none;
}

.navigation-tab-button {
  $padding-block: 7px;

  margin: 0 6px;

  padding: {
    top: $padding-block;
    bottom: $padding-block;
  };
}

.omniplayer {
  padding: 4px;

  & picture.album-image {
    margin-right: 4px;
    border-radius: 8px;
  }

  & .controls button {
    margin: 12px 0;
  }
}

$card-radius: 18px;
card {
  padding: 12px;
  border-radius: $card-radius;
  transition: 120ms linear;
  min-width: 106px;
  min-height: 160px;
  background: var(--card-bg-color);

  & picture {
    border-radius: 10px;
  }
}

smallcard {
  padding: 10px;
  border-radius: 12px;
  min-height: 18px;
  background: var(--card-bg-color);

  & image.art {
    margin-right: 6px;
  }

  & .buttons {
    margin-left: 6px;
  }
}

page {
  padding: 16px;
  padding-bottom: 0;
  background: var(--theme-bg-color);

  & .page-search {
    & .search-entry {
      $height: 48px;

      min-height: $height;
      border-radius: calc($height / 2);
      margin-bottom: 6px;
      padding: {
        left: calc($height / 3);
        right: calc($height / 3);
      };
    }

    & list {
      background: none;

      & > row {
        $padding: 12px;
        $radius: 28px;

        padding: $padding;
        border-radius: $radius;

        & card {
          border-radius: calc($radius - $padding);
        }
      }
    }
  }

  & .artist-page {
    & .header {
      margin-bottom: 6px;
      
      & .data {
        margin-left: 6px;
      }
    }
  }
}

section > box {
  margin-bottom: 10px;
}

popup .container {
  padding: 12px;
}
