[Desktop Entry]
Name=Vibe
Comment=The craziest music player!
Icon=folder-music-symbolic
Type=Application
Exec=$VIBE_BINARY
StartupWMClass=io.github.retrozinndev.Vibe
