window .container {
  background: var(--window-bg-color);
}

.navigation-tab-button {
  $padding-block: 7px;

  margin: 0 6px;

  padding: {
    top: $padding-block;
    bottom: $padding-block;
  };
}

.omniplayer {
  padding: 4px 6px;

  & picture.album-image {
    margin-right: 10px;
    border-radius: 8px;
  }

  & .controls button.pill {
    padding: 4px 24px;
  }

  & scale {
    min-height: 0px;

    & trough {
      min-height: 4px;
    }

    & slider {
      min-width: 6px;
      min-height: 6px;
    }
  }
}

card {
  padding: 12px;
  transition: 120ms linear;
  min-width: 106px;
  min-height: 160px;

  & picture {
    border-radius: 10px;
    margin-bottom: 6px;
  }
}

smallcard {
  padding: 10px;
  min-height: 18px;

  & image.art {
    margin-right: 6px;
  }

  & .buttons {
    margin-left: 6px;
  }
}

page {
  padding: 16px;
  padding-bottom: 0;
  background: var(--theme-bg-color);

  & .page-search {
    & .search-entry {
      $height: 48px;

      min-height: $height;
      border-radius: calc($height / 2);
      margin-bottom: 6px;
      padding: {
        left: calc($height / 3);
        right: calc($height / 3);
      };
    }

    & list {
      background: none;

      & > row {
        $padding: 12px;
        $radius: 28px;

        padding: $padding;
        border-radius: $radius;

        &:hover,
        &:focus-visible,
        &:active {
          background: none;
        }
      }
    }
  }

  & .artist-page {
    & .header {
      margin-bottom: 6px;
      
      & .data {
        margin-left: 6px;
      }
    }
  }
}

section > box {
  margin-bottom: 10px;
}

popup .container {
  padding: 12px;
}
