name: "Build and Upload"

on:
  push:
    branches: [ "main" ]
    paths: [ "src/**", ".github/workflows/**", "package.json" ]
  pull_request:
    branches: [ "main" ]
    paths: [ "src/**", ".github/workflows/**", "package.json" ]
  workflow_dispatch:


jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: "Checkout"
        uses: "actions/checkout@v6"
        with:
          submodules: "recursive"
          path: "."

      - name: "Setup node and pnpm"
        uses: "pnpm/action-setup@v4.2.0"
        with:
          version: "latest"
          run_install: false
      
      - name: "Install dependencies"
        run: |
          sudo apt install -y --fix-broken libglib2.0-dev gobject-introspection libgirepository1.0-dev build-essential gjs
          pnpm install

      - name: "Build project"
        run: "pnpm build -d -b -r \"./resources.gresource\" -e \"pnpm dlx esbuild\""

      - name: "Upload"
        uses: "actions/upload-artifact@v5"
        with:
          name: "vibe"
          path: "build/"
