name: "Build and Upload"

on:
  push:
    branches: [ "main" ]
    paths: [ "src/**", "package.json" ]
  pull_request:
    branches: [ "main" ]
    paths: [ "src/**", "package.json" ]
  workflow_dispatch:


jobs:
  setup_and_build:
    runs-on: ubuntu-latest

    steps:
      - name: "Checkout"
        uses: "actions/checkout@v6"
        with:
          submodules: "recursive"
          path: "."

      - name: "Setup node and pnpm"
        uses: "pnpm/action-setup@v4.2.0"
        with:
          version: "latest"
          run_install: false
      
      - name: "Install dependencies"
        run: |
          pnpm install
          sudo apt install -y libglib2.0-dev build-essential gjs

      - name: "Build project"
        run: "pnpm build:release -e \"pnpm dlx esbuild\""

      - name: "Upload for next job"
        uses: "actions/upload-artifact@v5"
        with:
          name: "build-assets"
          path: |
            package.json
            build/

  upload:
    runs-on: ubuntu-latest
    needs: setup_and_build

    steps:
      - name: "Load from previous job"
        uses: "actions/download-artifact@v6"
        with:
          name: "build-assets"

      - name: "Install jq"
        run: "sudo apt install -y jq"

      - name: "Setup environment"
        run: "export VIBE_VERSION=\"$(cat package.json | jq -r .version)\""

      - name: "Upload artifact"
        uses: "actions/upload-artifact@v5"
        with:
          name: "vibe-${{ env.VIBE_VERSION }}"
          path: "build/release"
